<!DOCTYPE html>
<html>
<head>
    <!--
If you are serving your web app in a path other than the root, change the
href value below to reflect the base path you are serving from.

The path provided below has to start and end with a slash "/" in order for
it to work correctly.

For more details:
* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base
-->
    <base href="/"/>

    <meta charset="UTF-8"/>
    <meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
    <meta content="Scored! allows you to keep track of all your scores, or whatever else you may want to keep track off!"
          name="description"/>
    <meta content="Matteo Taroli" name="author"/>

    <!-- iOS meta tags & icons -->
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="Scored!" name="apple-mobile-web-app-title"/>
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
    <link href="/site.webmanifest" rel="manifest"/>
    <link color="#4caf50" href="/safari-pinned-tab.svg" rel="mask-icon"/>
    <meta content="Scored!" name="apple-mobile-web-app-title"/>
    <meta content="Scored!" name="application-name"/>
    <meta content="#00a300" name="msapplication-TileColor"/>
    <meta content="#4caf50" name="theme-color"/>

    <title>Scored!</title>
    <link href="manifest.json" rel="manifest"/>
    <style>
        .loader {
            height: 4rem;
        }

        .loader path {
            transform: translateY(-100%);
        }
        .loader path#pink {
            animation: drop 3000ms ease-in-out infinite;
        }
        .loader path#blue {
            animation: drop 3000ms ease-in-out 200ms infinite;
        }
        .loader path#orange {
            animation: drop 3000ms ease-in-out 400ms infinite;
        }
        .loader path#green {
            animation: drop 3000ms ease-in-out 600ms infinite;
        }

        @keyframes drop {
            0% {
                transform: translateY(-100%);
            }
            20%,
            60% {
                transform: translateY(0);
            }
            80%,
            100% {
                transform: translateY(100%);
            }
        }
        body {
            height: 100vh;
            width: 100vw;
            overflow: hidden;
            background: #f2f2f2;
            display: grid;
            place-items: center;
        }
    </style>
    <script data-website-id="ade9fcd5-fe12-4719-828a-d213f663269d" defer
            src="https://cloud.umami.is/script.js"></script>
</head>
<body>
<svg class="loader" stroke-linejoin="round" viewBox="0 0 1024 1024"
     xmlns="http://www.w3.org/2000/svg">
    <path d="M1024 170l-964 854 515-457 -62-71 62 71 449-397Zm-617 205l-327-375 741 0 -414 375Z"
          fill="#8dc14f"
          id="green"/>
    <path d="M60 1024l964-854 0 854 -964 0Z" fill="#e83f77" id="pink"/>
    <path d="M80 0l495 567 -515 457 -60 1 0-1025 80 0Z" fill="#4e5eb9" id="blue"/>
    <path d="M407 375l414-375 203 0 0 170 -449 397 -168-192Z" fill="#fa5825" id="orange"/>
</svg>

<!-- This script installs service_worker.js to provide PWA functionality to
application. For more information, see:
https://developers.google.com/web/fundamentals/primers/service-workers -->
<script>
    var serviceWorkerVersion = '{{flutter_service_worker_version}}';
    var scriptLoaded = false;
    function loadMainDartJs() {
        if (scriptLoaded) {
            return;
        }
        scriptLoaded = true;
        var scriptTag = document.createElement('script');
        scriptTag.src = 'main.dart.js';
        scriptTag.type = 'application/javascript';
        document.body.append(scriptTag);
    }

    if ('serviceWorker' in navigator) {
        // Service workers are supported. Use them.
        window.addEventListener('load', function () {
            // Wait for registration to finish before dropping the <script> tag.
            // Otherwise, the browser will load the script multiple times,
            // potentially different versions.
            var serviceWorkerUrl = 'flutter_service_worker.js?v=' + serviceWorkerVersion;
            navigator.serviceWorker.register(serviceWorkerUrl).then((reg) => {
                function waitForActivation(serviceWorker) {
                    serviceWorker.addEventListener('statechange', () => {
                        if (serviceWorker.state == 'activated') {
                            console.log('Installed new service worker.');
                            loadMainDartJs();
                        }
                    });
                }
                if (!reg.active && (reg.installing || reg.waiting)) {
                    // No active web worker and we have installed or are installing
                    // one for the first time. Simply wait for it to activate.
                    waitForActivation(reg.installing ?? reg.waiting);
                } else if (!reg.active.scriptURL.endsWith(serviceWorkerVersion)) {
                    // When the app updates the serviceWorkerVersion changes, so we
                    // need to ask the service worker to update.
                    console.log('New service worker available.');
                    reg.update();
                    waitForActivation(reg.installing);
                } else {
                    // Existing service worker is still good.
                    console.log('Loading app from service worker.');
                    loadMainDartJs();
                }
            });

            // If service worker doesn't succeed in a reasonable amount of time,
            // fallback to plaint <script> tag.
            setTimeout(() => {
                if (!scriptLoaded) {
                    console.warn('Failed to load app from service worker. Falling back to plain <script> tag.');
                    loadMainDartJs();
                }
            }, 4000);
        });
    } else {
        // Service workers not supported. Just drop the <script> tag.
        loadMainDartJs();
    }
</script>
</body>
</html>
